body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    background-color: #f3e8ff;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
